*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  letter-spacing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
  display: flex;
}

body,
html {
  height: 100%;
}

ul,
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

ion-icon {
  font-size: 18px;
  color: rgb(77, 77, 77);
}

.todo-list__app {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 8px 8px 16px #b4b4b4;
  border-left: 1px solid #e5e5e5;
  min-width: 37.5rem;
  margin: auto;
}

.todo-add-item__container {
  /* background-color: red; */
  background: linear-gradient(
    90deg,
    #6a31af 0%,
    rgb(143, 21, 250) 50%,
    rgb(169, 39, 250) 100%
  );

  padding: 3rem 2rem;
  border-radius: 8px 8px 0px 0px;
}

.todo-add-item__container > .heading {
  font-size: 3rem;
  color: white;
}

.todo-add-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 3rem 0 1rem 0;
}

.inputItem {
  padding: 0 1rem;
  outline: transparent;
  flex-grow: 1;
  color: #70608f;
}

.inputItem::placeholder {
  color: #70608f;
}

input[type='submit'] {
  border: none;
  background-color: #f7f7f7;
  color: #6e48b9;
  padding: 1rem 3rem;
  margin-left: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

input[type='submit']:hover {
  background-color: #d5d5d5;
}

.todo-list__container {
  padding: 2rem;
}

.todo-item {
  display: grid;
  grid-template-columns: 1fr minmax(20rem, auto) 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 0.8rem;

  margin: 0 0 2rem;
  padding: 0.8rem 2rem;
  border-radius: 3px;
  box-shadow: 2px 2px 8px rgba(77, 77, 77, 0.5);

  position: relative;
}
.todo-item:last-child {
  margin-bottom: 0;
}

.button-check {
  grid-column: 1/2;
  align-self: center;
  justify-self: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 2px solid #70608f;
  position: relative;
  outline: transparent;
  background-color: #f7f7f7;
}

.fa-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #726a95;
  margin: 0px 0px 4px 2px;
}

.fa-check.displayNone {
  display: none;
}

.task-name {
  grid-column: 2/3;
  color: #70608f;
  background-color: #f2f2f2;
  padding: 1rem;
  font-size: 1.1rem;
}

.fa-edit {
  grid-column: 3/4;
}

.editContainer {
  position: absolute;
  z-index: 99999;
  top: 4rem;
  left: 2rem;
  width: 120%;
  height: 6rem;
  background-color: #f7f7f7;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 15px rgba(77, 77, 0.8);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.editContainer .editInput {
  background-color: transparent;
  border: none;
  border: 2px solid #4b3d8a;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  color: #70608f;
}

.editContainer .editInput:focus {
  outline: none;
}

.editContainer .editButton,
.editContainer .cancelButton {
  border: none;
  outline: transparent;
  padding: 0.7rem 2rem;
}
.editContainer .editButton {
  background-color: #7834c3;
  color: #fff;
}

.editContainer .cancelButton {
  background-color: #ee0043;
  color: #fff;
}

.editContainer .editButton:hover {
  opacity: 0.8;
}
.editContainer .cancelButton:hover {
  opacity: 0.8;
}

.fa-trash-alt {
  grid-column: 4/-1;
}

.fa-edit,
.fa-trash-alt {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  justify-self: center;
  align-self: center;
  font-size: 1.5rem;
}

.fa-edit:hover,
.fa-trash-alt:hover {
  transform: scale(1.2, 1.2);
  outline: none;
  border: none;
}

.fa-trash-alt {
  color: #70608f;
}

.fa-edit {
  color: #70608f;
}

.fa-edit:hover {
  color: #5002b1;
}

.fa-trash-alt:hover {
  color: #ee0043;
}

.fa-edit:active,
.fa-trash-alt:active {
  transform: scale(1, 1);
  outline: none;
  border: none;
}
